
@slow-speed: 350ms * 5s;
@fast-speed: 100ms;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p, h1, h2, h3 {
	display: inline;
	font-family: "Verdana";
}

p {
	font-size: 0.75em;
}

h1 {
	font-size: 1em;
	font-weight: bold;
}

h2 {
	font-size: 1em;
	font-weight: bold;
}

.container {
	background-color: white;
	color: black;
}

#home-page {
	height: 100vh;
	width: 100vw;
	animation: fade-in 350ms ease both;
	-webkit-animation: fade-in 350ms ease both;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#game-container {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 
	"top-left top top-right"
	"left middle right"
	"bottom-left bottom bottom-right"
}

#energy-container {
	grid-area: top;
	text-align: center;
}

#nano-container {
	grid-area: middle;

}

.gamebtn {
	box-sizing: content-box;
	overflow: visible;
	border-radius: 0;
	border: 1px green solid;
	padding: 2px 5px;
	
	&:hover {
		background-color: green;
		color: white;
	}
}

@media (max-width: 400px) {
	#game-container {
		height: auto;
	}
}

.av {
	visibility: visible;
	pointer-events: normal;
	animation: fade-in 750ms both;
}

.unav {
	visibility: hidden;
	pointer-events: none;
}
