
@slow-speed: 350ms * 5s;
@fast-speed: 100ms;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h2 {
	font-family: "Verdana";
	font-size: 1em;
	font-weight: bold;

}

.container {
	background-color: white;
	color: black;
}

#home-page {
	height: 100vh;
	width: 100vw;
	animation: fade-in 350ms ease both;
	-webkit-animation: fade-in 350ms ease both;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#game-container {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 
	"top-left top top-right"
	"left middle right"
	"bottom-left bottom bottom-right"
}

#energy-container {
	grid-area: top;
}

#nano-container {
	grid-area: middle;

}

p, h2 {
	display: inline;
}

.gamebtn {
	
}

@media (max-width: 320px) {
	#game-container {
		grid-template-colums: 1fr;
		grid-template-rows: 1fr 1fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
		grid-template-areas:
		"top"
		"middle"
		"bottom"
		"top-left"
		"top-right"
		"left"
		"right"
		"bottom-left"
		"bottom-right"
	}
}
